* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Gloria;
    src: url();
}

:root {
    --backckground: #000000;
    --text-color: #FFFFFF;
    --primary: #14213D;
    --secondary: #FCA311;
    --border-color: #E5E5E5;
}

body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100vh;
    font-family: 'Gloria Hallelujah', Arial, Helvetica, sans-serif;
    color: var(--text-color);
    background-color: var(--backckground);
}



main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    padding: 25px;
    font-weight: bold;
    font-size: 1.5rem;
}

main>* {
    flex: 1 1 0
}

.board-container {
    flex: 8 1 0
}

.board-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 15px 15px;
    width: 100%;
}

.cells {
    font-size: 4rem;
    font-weight: 800;
    border-radius: 10px;
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cells:hover {
    transform: scale(1.1);
    background-color: var(--border-color);
    color: var(--secondary);
}

#reset-button {
    width: 20%;
    border-radius: 5px;
    flex: 0.5 1 5px;
    background-color: var(--primary);
    color: white;
    font-family: 'Gloria Hallelujah', Arial, Helvetica, sans-serif;
}

#reset-button:hover {
    background-color: var(--primary);
    color: var(--secondary);
}

.card-container {
    display: flex;
    width: 45%;
    height: 100px;
    margin: 110px 25px;
    background-color: var(--primary);
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.card {
    text-align: center;
    flex: 1 1 0;
}